.gridnic-header-columns {
    background: url('../images/header-columns-bg.gif') repeat-x center bottom;
    border-bottom: 1px solid silver;
}

.gridnic-header-column {
    background: url('../images/header-columns-bg.gif') repeat-x center bottom;
    border-right: 1px solid silver;
}

.gridnic-header-column:hover, .gridnic-header-column-active {
    background: white url('../images/header-columns-over-bg.gif') repeat-x center bottom;
}

.gridnic-row.ui-state-active {
    background: #F5F7D7;
}

.gridnic-row {
    position: absolute;
    background: white;
    border: 0px;
}

.gridnic-row.selected {
    z-index: 10;
    background: #DFE8F6;
}

.gridnic-cell {
    padding-left: 4px;
    padding-right: 4px;
}

.gridnic-cell.selected {
    border-color: gray;
    border-style: solid;
}


.gridnic-sortable-placeholder {
    background: silver!important;
}

.gridnic-row[row$="1"], .gridnic-row[row$="3"], .gridnic-row[row$="5"], .gridnic-row[row$="7"],	.gridnic-row[row$="9"] {
    background: #fafafa;
}

.gridnic-row.ui-state-active {
    background: #F5F7D7;
}

.gridnic-row.loading {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.gridnic-cell.invalid {
	border-color: red;
}