.gridnic-header.ui-state-default {
	width: 100%;
	overflow: hidden;
	border-left: 0px;
}

.gridnic-header-columns {
	width: 999999px;
	position: relative;
	white-space: nowrap;
	cursor: default;
	overflow: hidden;
}

.gridnic-header-column.ui-state-default {
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 16px;
	line-height: 16px;
	margin: 0;
	padding: 4px;
	border-right: 1px solid silver;
	border-left: 0px;
	border-top: 0px;
	border-bottom: 0px;
	float: left;
}

.gridnic-header-column-sorted {
	font-style: italic;
}

.gridnic-sort-indicator {
	display: inline-block;
	width: 8px;
	height: 5px;
	margin-left: 4px;
}

.gridnic-sort-indicator-desc {
	background: url(../images/sort-desc.gif);
}

.gridnic-sort-indicator-asc {
	background: url(../images/sort-asc.gif);
}

.gridnic-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	cursor: col-resize;
	width: 4px;
	right: -2px;
	top: 0;
	height: 100%;
}

.gridnic-resizable-handle:hover {
	background: gray;
}

.gridnic-sortable-placeholder {
	background: silver;
}

.grid-canvas {
	position: relative;
	outline: 0;
}

.gridnic-row.ui-widget-content, .gridnic-row.ui-state-active {
	position: absolute;
	border: 0px;
}

.gridnic-cell {
	float: left;

	border: 1px solid transparent;
	border-right: 1px dotted silver;
	border-bottom-color: silver;

	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	z-index: 1;
	padding: 1px 2px 2px 1px;

	white-space: nowrap;

	cursor: default;
}

.gridnic-cell.editable {
	z-index: 11;
	overflow: visible;
	background: white;
	border-color: black;
	border-style: solid;
}

.gridnic-cell:focus {
	outline: none;
}

.gridnic-reorder-proxy {
	display: inline-block;
	background: blue;
	opacity: 0.15;
	filter: alpha(opacity=15);
	cursor: move;
}

.gridnic-reorder-guide {
	display: inline-block;
	height: 2px;
	background: blue;
	opacity: 0.7;
	filter: alpha(opacity=70);
}
