.gridnic-pager
{
	width: 100%;
	height: 26px;
	border: 1px solid gray;
	border-top: 0;
	background: url('../images/header-columns-bg.gif') repeat-x center bottom;
	vertical-align: middle;
}

.gridnic-pager .gridnic-pager-status
{
	display: inline-block;
	padding: 6px;
}

.gridnic-pager .ui-icon
{
	display: inline-block;
	margin: 2px;
	border-color: gray;
}

.gridnic-pager .gridnic-pager-nav
{
	display: inline-block;
	float: left;
	padding: 2px;
}

.gridnic-pager .gridnic-pager-output
{
	display: inline-block;
	float:right;
	padding: 2px;	
}

.gridnic-pager .gridnic-pager-settings
{
	display: block;
	float: right;
	padding: 2px;
}

.gridnic-pager .gridnic-pager-settings *
{
	vertical-align: middle;
}

.gridnic-pager .gridnic-pager-settings a
{
	padding: 2px;
	text-decoration: underline;
	cursor: pointer;
}
