body  { margin:0px;	font: 100% Verdana, Arial, Helvetica, sans-serif;background:#E9E9E9;margin: 0; 	padding: 0;	text-align: center;	color: #000000;}
.twoColElsLtHdr #container { width: 920px; background: #FFFFFF;	margin: 0 auto; border: 0px solid #000000;text-align: left;} 
.twoColElsLtHdr #header {background: #000000; 
	padding: 0 0px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
.twoColElsLtHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 0; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

/* Tips for sidebar1:
1. Be aware that if you set a font-size value on this div, the overall width of the div will be adjusted accordingly.
2. Since we are working in ems, it's best not to use padding on the sidebar itself. It will be added to the width for standards compliant browsers creating an unknown actual width. 
3. Space between the side of the div and the elements within it can be created by placing a left and right margin on those elements as seen in the ".twoColElsLtHdr #sidebar1 p" rule.
*/
.twoColElsLtHdr #sidebar1 {
	float: left; 
	width: 13.2em; /* since this element is floated, a width must be given */
	background:#FFFFFF;
	background-repeat:repeat-y;/* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 0; /* top and bottom padding create visual space within this div */
	height:875px;
}
.twoColElsLtHdr #sidebar1 h3, .twoColElsLtHdr #sidebar1 p {
	margin-left: 10px; /* the left and right margin should be given to every element that will be placed in the side columns */
	margin-right: 10px;
}

h3 {
	font-size:11px;
}

/* Tips for mainContent:
1. If you give this #mainContent div a font-size value different than the #sidebar1 div, the margins of the #mainContent div will be based on its font-size and the width of the #sidebar1 div will be based on its font-size. You may wish to adjust the values of these divs.
2. The space between the mainContent and sidebar1 is created with the left margin on the mainContent div.  No matter how much content the sidebar1 div contains, the column space will remain. You can remove this left margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends.
3. To avoid float drop, you may need to test to determine the approximate maximum image/element size since this layout is based on the user's font sizing combined with the values you set. However, if the user has their browser font size set lower than normal, less space will be available in the #mainContent div than you may see on testing.
4. In the Internet Explorer Conditional Comment below, the zoom property is used to give the mainContent "hasLayout." This avoids several IE-specific bugs that may occur.
*/
.twoColElsLtHdr #mainContent {
	margin-left:15px; /* the right margin can be given in ems or pixels. It creates the space down the right side of the page. */
} 
.twoColElsLtHdr #footer { 
	padding: 0 10px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#999999;
	text-align:left;
}
.twoColElsLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 0; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
	font-size: 11px;
	color:#5C5C5C;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
}

/* Miscellaneous classes for reuse */
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
    height:0;
    font-size: 1px;
    line-height: 0px;
}

.pfont {
	font-size:11px
}

.style2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
}

.style2bold {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
} 
.footerlink{ font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#999999; text-decoration:none;}
#htitle{ font-family:Arial, Helvetica, sans-serif; font-size:30px; margin-top:15px; color:#999999;}
#hbottomb{ background-image:url(banner_seperator.jpg); background-repeat:repeat-x;}

.left-nav{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
	color:#666666;
	line-height:20px;
	padding:5px;
	}	
.left-nav:hover{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:underline;
	color:#000000;
	font-weight:bold;	
	line-height:20px;	
	}	
	#latest_update{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	padding:5px 0 0 8px;
	color:#FFFFFF;}
	#welco{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	text-align:left;
	padding:5px 0 0 8px;
	color:#006699;}	
		#developer{
		color:white;
		font-size:11px;
		cursor:pointer;
		font-weight:bold;
		text-decoration:blink;}
	
#inputsrcl	{ background:url(texture-bg.jpg); border:1px solid #666666; width:180px; height:22px;}
.min{ width:20px; height:20px; border:none; background:none; cursor:pointer;}
.min{ width:20px; height:20px; border:none; background:none; cursor:pointer;}
.btnlogin { font-family:Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; background-color:#666666; color:#FFFFFF; border:1px solid #666666; padding:5px; cursor:pointer;}
#product-title{ background-image:url(header-bg.jpg); background-position:center; background-repeat:repeat-x;}
fieldset{ border:1px solid #006699; background:none; font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#0066CC;}
legend{ border:1px solid #006699; background-color:#006F9C; font-weight:bold; padding:2px; color:white;}
.a_p_link{ font-size:11px; text-decoration:none; color:#006699; padding:5px;}
.a_p_link:hover{ font-size:11px; text-decoration:underline; color:#006666;  padding:5px;}
input{ border:1px solid #CCCCCC;}
.select250css{ width:240px;}
.submitbutton{ cursor:pointer;}
.resultmsg{ font-size:12px; color:#0066CC;}
#user_name_show{ height:35px; background-image:url(user_name_bg.jpg); background-repeat:no-repeat; background-position:right;}