#shipping-steps-container .shipping-arrow{
	background:none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../hoverchangeimage/usps_steps_arrow.png',sizingMethod='image');
}

#shipping-steps-container .shipping-step .step1{background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../hoverchangeimage/ifshopbag.png',sizingMethod='image');}
#shipping-steps-container .shipping-step .step2{background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../hoverchangeimage/ifshome.png',sizingMethod='image');}
#shipping-steps-container .shipping-step .step3{background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../hoverchangeimage/ifscommunity.png',sizingMethod='image');}
#shipping-steps-container .shipping-step .step4{background:none;filter: progid:DXImageTransform.Microsoft.AlphaImageLoader (src='../hoverchangeimage/ifsportal.png',sizingMethod='image');}

#shipping-steps-container li{padding-bottom:3px;}
#shipping-steps-container li.shipping-step{padding-bottom:0px;}
